.clear{clear:both;float:none;}
.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after{display: table;line-height: 0;content: "";}
.clearfix:after{clear: both;}
.transition{
transition: all 5s;
transition: background 0.3s ease-out 0s;
transition: background-position 0.2s ease-out 0s, color 0.2s ease-out 0s;
transition: opacity 0.3s ease-out 0s;
transition:border-color 0.3s linear;
transition: color 0.2s linear 0s;
}

.mx-jtabs-box .mx-jtabs-header ul .active a {cursor: default;}
.mx-jtabs-box .visible {position:relative; overflow-x:auto;padding: 15px 0;}
.mx-jtabs-item.load {padding:2% 0; text-align:center;}
.mx-jtabs-item.load .fa-spinner{font-size:32px;}
.mx-jtabs-header ul{padding:0;}
.mx-jtabs-box .mx-jtabs-header.accordion ul li {border-bottom:1px solid #C7C7C7; border-right:0; display:block; height: auto; padding: 8px 0px 7px; width: 100%;}
.mx-jtabs-box .mx-jtabs-header.accordion ul .active {border-bottom:1px solid #C7C7C7;background-color: #dddddd; background-image:none;}

.notifications-settings .mx-jtabs-item {overflow-x:auto;}
.notifications-table {width:100%;}
.notifications-table tr th {border:1px solid #dddddd; background-color:#eeeeee; color:#333333; font:bold 11px Arial;text-align:left; vertical-align:middle;padding:2px 5px;}
.notifications-table tr th.center {text-align:center;}
.notifications-table tr td {border:1px solid #dddddd; color:#444444;padding:3px; text-align:left; vertical-align:bottom; font:12px Arial;}
.notifications-table .not-category {padding:7px 3px;}
.notifications-table tr .types {width:50px; }
.notifications-table tr .actions {width:50px; text-align:center; vertical-align:middle; }
.notifications-table tr .actions .btn-xs {font-size: 10px; padding: 3px;text-transform: uppercase; width: 32px;}
.notifications-table tr .actions .actions-trigger {font-size: 14px; cursor:pointer;}
.notifications-table tr.disabled {opacity:0.7;}
.notifications-table tr.disabled .actions-trigger {cursor:default;}
.notifications-table tr.not-formbox td{padding:0;display:none;}
.notifications-table tr.not-formbox.active td{padding:3px; display:table-cell;}
.notifications-table tr.not-formbox .not-form-box{display:none;}
.not-form-box .fa-check.green {padding: 5px; font-size: 14px;}
.not-form-box .fa-check.green span {font-size: 14px;}
.not-form-items-f button {padding: 6px 15px;}

.notifications-settings .not-list { padding: 0; margin:0; list-style: none;}
.notifications-settings .not-list li { background-color: #ffffff; border: 1px solid #ddd; border-left: 3px solid #ccc; border-radius: 2px; padding: 7px 12px; margin-bottom:8px; position:relative; opacity:0.7;}
.notifications-settings .not-list li.active { border-left:3px solid #69b076; opacity:1;}
.notifications-settings .not-list li .not-box { position:relative;}
.notifications-settings .not-list li .desc-box { float:left; width:70%;}
.notifications-settings .not-list li .name {color: #555; font-size: 15px;padding: 3px 0;}
.notifications-settings .not-list li .desc {font: 12px Arial; padding: 0 0 7px;}
.notifications-settings .not-list li .actions-box {float:right; width:30%;}
.notifications-settings .not-list li .actions {position: absolute; right: 12px; top: 60%; margin-top:-15px;}
.notifications-settings .not-list li .actions span{ height: 23px;line-height: 23px; padding: 0; width: 45px; text-transform:uppercase; display: inline-block; text-align: center;}
.notifications-settings .not-list li .actions span i { line-height: 23px; }
.notifications-settings .not-list li .not-form-box { display:none; min-height:100px; border-top:1px solid #e7e7e7; position:relative; margin-top: 7px;}
.notifications-settings .not-list li .not-form-box i.fa-spin{ font-size: 25px; left: 50%; margin-left: -10px; margin-top: -10px; position: absolute;top: 50%;}
.notifications-settings .not-list li .not-form-box i.fa-check{ font-size: 18px; margin-top: 38px; position: relative; left:0; top:0;}
.notifications-settings .not-list li .not-form-box i.fa-check span{ font-size:15px;}
.notifications-settings .not-list li .not-form-box.center{ text-align:center;}
.notifications-settings .not-list li .not-form-box .not-form-items-f{border-right: 1px solid #eee; float: left; margin-top: 14px; padding: 0; width: 55%;}
.notifications-settings .not-list li .not-form-box .not-form-items-d{float: left; padding: 10px 0 0; width: 43%; margin-top:5px;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item {width: 90%;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item input, .notifications-settings li .not-form-box .not-form-items-f .not-form-item select{width: 100%;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item label {font:12px Arial;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item .classyedit {min-height:150px; font:12px Arial;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item button {font: 13px Arial; width:70px;}
.notifications-settings .not-list li .not-form-description {padding-left: 15px;}
.notifications-settings .not-list li .not-form-description h3 {	font-size: 15px; margin-bottom: 2px; margin-top: 10px;}
.notifications-settings .not-list li .not-form-description span {display: block;font-size: 13px;padding: 2px 0;}
.notifications-settings .not-list li .not-form-description span strong {font-style:italic; font-weight: bold;}
.notifications-settings .mx-jtabs {background-color: transparent;}

/*===== Buttons =====*/

.btn { border-radius: 3px; padding: 6px 25px; box-shadow: none; font-size: 13px; text-shadow: none; margin:0 0 10px 0px; background-color: rgba(255, 255, 255, 1); background-image: none; border: 1px solid #ccc; color: #fff; cursor:pointer;}

.btn, .btn-primary {border-radius: 3px; padding: 6px 25px; box-shadow: none; font-size: 13px; text-shadow: none; margin:0 0 10px 0px; background-color: rgba(255, 255, 255, 1); background-image: none; border: 1px solid #ccc; cursor:pointer; color: #626262;}
.btn:hover {background-color: rgba(255, 255, 255, 0.8); background-image: none; border: 1px solid #ccc; cursor:pointer; color: #333;}
.btn:focus {background-color: rgba(255, 255, 255, 0.8); background-image: none; border: 1px solid #ccc; color: #333;}

button.btn, input[type="submit"].btn { *padding-top: 3px; *padding-bottom: 3px; }
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner { padding: 0; border: 0; }
button.btn.btn-large, input[type="submit"].btn.btn-large { *padding-top: 7px; *padding-bottom: 7px; }
button.btn.btn-small, input[type="submit"].btn.btn-small { *padding-top: 3px; *padding-bottom: 3px; }
button.btn.btn-mini, input[type="submit"].btn.btn-mini { *padding-top: 1px; *padding-bottom: 1px; }
.btn-link, .btn-link:active, .btn-link[disabled] { background-color: transparent; background-image: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.btn-link { color: #0088cc; cursor: pointer; border-color: transparent; }
.btn-link:hover { color: #005580; text-decoration: underline; background-color: transparent; }
.btn-link[disabled]:hover { color: #333333; text-decoration: none; }
.btn-primary:hover, .btn-info:hover, .btn-warning:hover, .btn-success:hover, .btn-danger:hover, .btn-inverse:hover { color: #ffffff; }
.btn > b, .modal-footer i { margin-right: 6px; font-size: 12px; }
.btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #fefefe; }
.btn:first-child { *margin-left: 0; }
.btn:focus { outline: 0; }
.btn.active, .btn:active { background-image: none; outline: 0;
  -webkit-box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled, .btn[disabled] { cursor: default; background-image: none; color: #999; opacity: 0.65; filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
.btn-danger.disabled,
.btn-danger[disabled],
.btn-info.disabled,
.btn-info[disabled],
.btn-success.disabled,
.btn-success[disabled],
.btn-warning.disabled,
.btn-warning[disabled],
.btn-inverse.disabled,
.btn-inverse[disabled] 
{ color: #fff; }

.btn-large { padding: 9px 14px 9px 14px; height: auto; font-size: 13px; }
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] { margin-top: 4px; }
.btn-small { padding: 7px 10px 6px 10px; height: auto; font-size: 11px; }
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] { margin-top: 0; }
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] { margin-top: -1px; }
.btn-mini { padding: 6px 8px 5px 8px; height: auto; font-size: 11px; }
.btn-block { display: block; width: 100%; padding-right: 0; padding-left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn-block + .btn-block { margin-top: 5px; }
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block { width: 100%; }
a.btn { line-height: 13px; }

.btn-warning {
  color: #ffffff;
  text-shadow: none;
  background-color: rgba(201, 130, 60, 1);
  background-image: none;
  border: 1px solid #c9823c;
}
.btn-warning:active, .btn-warning:active, .btn-warning:hover, .btn-warning.disabled, .btn-warning[disabled], .btn-warning:focus { 
    color: #ffffff;
    text-shadow: none;
    background-color: rgba(201, 130, 60, 0.8);
    background-image: none;
    border: 1px solid #c9823c; 
}

.btn-danger {
    color: #ffffff;
    text-shadow: none;
    background-color: rgba(192, 83, 67, 1);
    background-image: none;
    border: 1px solid #c05343; 
}
.btn-danger:active, .btn-danger:hover, .btn-danger:focus, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] { color: #ffffff;
    text-shadow: none;
    background-color: rgba(192, 83, 67, 0.8);
    background-image: none;
    border: 1px solid #c05343; 
}
.btn-success {
    color: #ffffff;
    background-color: rgba(76, 161, 91, 1);
    border: 1px solid #4CA15B;
    background-image: none; 
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-image: none; 
    background-color: rgba(76, 161, 91, 0.8); 
    border: 1px solid #4CA15B;
}

.btn-info {
    color: #ffffff;
    background-color: rgba(56, 158, 188, 1);
    border: 1px solid #389ebc;
    background-image: none; 
}
.btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] { background: #46abc9; color: #fff; }

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #4a4a4a;
  background: -moz-linear-gradient(top, #5e5e5e, #4a4a4a);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5e5e5e), to(#4a4a4a));
  background: -webkit-linear-gradient(top, #5e5e5e, #4a4a4a);
  background: -o-linear-gradient(top, #5e5e5e, #4a4a4a);
  background: linear-gradient(to bottom, #5e5e5e, #4a4a4a);
  border-color: #4a4a4a;
}
.btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { background: #545454; color: #fff; }

